.notification {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	padding: 1em;
	text-align: center;

	p {
		flex-grow: 1;
	}

	button {
		@extend %button-bare-control;

		font-weight: bold;
	}

	&.is-error {
		color: #721C24;
		border: 1px solid #F5C6CB;
		background-color: #F8D7DA;
		box-shadow: 0 -1px 0 rgba(#333, 0.12),
				0 1px 3px rgba(#333, 0.12),
				0 1px 3px rgba(#333, 0.24);
	}
}
